VITE_SUPABASE_URL=https://aoucczuetzquokgqukou.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvdWNjenVldHpxdW9rZ3F1a291Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5NjgzODksImV4cCI6MjA3NjU0NDM4OX0.Xasreh9nA28O1uoK8K3ShpGUuEfOrgkCFTLfqv7T-V4
VITE_API_URL=http://localhost:3000
